ion-title{
  background-image:url('../assets/img/hamingja-logo-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -99999rem;
  height: 40px;
  background-size: contain;	
}