ion-title{
	background-image:url('../../assets/img/hamingja-logo-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 57px;
    text-indent: -9999px;
    background-position: 7% 50%;
    background-size: contain;
    background-color:var(--ion-color-secondary);
    background-size: 29%;
}
ion-tab-button{
    background: transparent!important;

}
ion-tab-button.tab-selected{
    background:var(--ion-color-secondary-primary);
    border-bottom:3px solid var(--ion-color-warning-tint)!important;
}
ion-tab-bar {
    background:var(--ion-color-secondary-tint);
}
ion-label{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}