<ion-content>
  <ion-list *ngFor="let stamp of stamps">
    <ion-card class="stamp-card-style  card-id-1" button [routerLink]="['/stamp-details', {stamp: stringify(stamp)}]">
      <ion-img [src]="stamp.url"></ion-img>
      <ion-card-title>{{stamp.name}}</ion-card-title>
      <ion-card-content>
        <div class="icons_wrapper">
          <ion-icon [name]="stamp.stampShape" *ngFor="let _ of [].constructor(stamp.max)"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
<ion-footer class="ion-no-padding">
  <ion-toolbar class="ion-no-padding">
    <ion-button color="secondary" class="footer-button" expand="full" button (click)="onNewCardClicked()">Get Stamp Card</ion-button>
  </ion-toolbar>
</ion-footer>
