ion-title{
  background-image:url('../../assets/img/hamingja-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -99999rem;
  height: 40px;
  background-size: contain;
  margin-right: 48px;      
}
ion-tab-button{
    background: transparent!important;

}
ion-tab-button.tab-selected{
    background:var(--ion-color-secondary-primary);
    border-bottom:3px solid var(--ion-color-warning-tint)!important;
}
ion-tab-bar {
    background:var(--ion-color-secondary-tint);
}
ion-label{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}