<ion-content>
<!--   <ion-card class="add-items-button" button routerLink="/create-stamp">
    <ion-card-content>+</ion-card-content>
  </ion-card>
 -->
  <ion-list *ngFor="let stamp of stamps">
    <ion-card class="stamp-card-style  card-id-1" button [routerLink]="['/stamp-details', stamp]">
      <ion-img src="assets/cards/bch-beer.png"></ion-img>
      <ion-card-title>{{stamp.name}}</ion-card-title>
      <ion-card-content>
        <div class="icons_wrapper">
          <ion-icon name="beer" *ngFor="let _ of [].constructor(stamp.max)"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="stamp-card-style card-id-2" button [routerLink]="['/stamp-details', stamp]">
      <ion-img src="assets/cards/pow-yoga.png"></ion-img>
      <ion-card-title>{{stamp.name}}</ion-card-title>
      <ion-card-content>
        <div class="icons_wrapper">
          <ion-icon name="heart" *ngFor="let _ of [].constructor(stamp.max)"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="stamp-card-style card-id-3" button [routerLink]="['/stamp-details', stamp]">
      <ion-img src="assets/cards/asic-coffee.png"></ion-img>
      <ion-card-title>{{stamp.name}}</ion-card-title>
      <ion-card-content>
        <div class="icons_wrapper">
          <ion-icon name="cafe" *ngFor="let _ of [].constructor(stamp.max)"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>  

    <ion-card class="stamp-card-style card-id-4" button [routerLink]="['/stamp-details', stamp]">
      <ion-img src="assets/cards/slp-ice-cream.png"></ion-img>
      <ion-card-title>{{stamp.name}}</ion-card-title>
      <ion-card-content>
        <div class="icons_wrapper">
          <ion-icon name="ice-cream" *ngFor="let _ of [].constructor(stamp.max)"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>        



    <ion-card class="stamp-card-style card-id-5" button [routerLink]="['/stamp-details', stamp]">
      <ion-img src="assets/cards/pspkh-hair-salon.png"></ion-img>
      <ion-card-title>{{stamp.name}}</ion-card-title>
      <ion-card-content>
        <div class="icons_wrapper">
          <ion-icon name="cut" *ngFor="let _ of [].constructor(stamp.max)"></ion-icon>
        </div>
      </ion-card-content>
    </ion-card>        



  </ion-list>
</ion-content>
<ion-footer class="ion-no-padding">
  <ion-toolbar class="ion-no-padding">
    <ion-button color="secondary" class="footer-button" expand="full" button routerLink="/create-stamp">Create Stamp Card</ion-button>
  </ion-toolbar>
</ion-footer>